#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
#
#package_upgrade: true
ssh_pwauth: True
chpasswd:
  list: |
     root:linux
  expire: False
#cloud-config
#package_upgrade: true
#power_state:
# delay: "+1" 
#cloud-config
timezone: "America/Sao_Paulo"


manage_etc_hosts: true    
users:
  - name: devops
    passwd: password
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFG/1SPgAByQCgA5g25kBUvhkL6lwx65B1szkzTyPPZ5CgXckhJ8EzdbL6AlbUukvdrKBIm9v8uW8ImnOYmBFBUu/FZHSaVSCWxsat8gzZNb6rheNZIvrbwGz6EF1tYoajSXJp3QtsvsVmH417AVxUx2O6FrQCWQY7DMVaPAmiCWrTD23tMMhe3T8RAUwfp5+ub3knuUW1BqN4IS3wr0X3xB9T+EA+EEuzLL9u0u/N/vSfS4xxcq9h9Sgh/K3zZYelHrJpfxIkoW12HOxDHl/wudpDVXjOttKXcoqJTPNJZenfS+s/qrxB4nRzELBuVAPV0PZnsn9S9Wlvxk5tKZ5hUs8n8WXvGWDq1yBtylCAjukbETzbzUcIswPO2m8CxYnAavChPyCX9HiZwEVIX5OEbhpZforaE9aOHNXFuXJScbcXhcoHflN+Z3zAJC3UBmfbogQa+QMt2DXSGH6mf4kyjVffOesnuuV7GmLtzxzst6Dt37Dro3Lx6VJk9dL/2lE= jcastro@taycan
growpart:
  mode: auto
  devices: ['/']



