#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
#
#package_upgrade: true

hostname: ${hostname}
fqdn: ${fqdn}
manage_etc_hosts: true


ssh_pwauth: True
chpasswd:
  list: |
     root:linux
  expire: False
#cloud-config
#package_upgrade: true
package_update: true
packages:
    - qemu-guest-agent
runcmd:
  - systemctl start qemu-guest-agent.service 

manage_etc_hosts: true    
users:
  - name: devops
    passwd: password
    shell: /bin/bash
    #home: /home/devops
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFTMI5mzNxzOWYuEypfR/pb2MDB0rVDQA2QVDRyxijLx5R0u8VI/l6uFX0F3U9ns+Z9oDqTmKjMyAbSUlwOC8J1ChbyGhAHt8OrsMRGjqAIV8+KrQHgy8pLTJIu9YiSh+YE+SIAzrqBdYppKV4165K28KuPQnzLpx9l12Nu6zwRmu6g/opeLRYaXSrcZ5S/0VTv+5UBSY1X5i+XlJxoKFAaRjkFchiLG3mwWBD70pfjGFGc9nmt+64OEkGIO7yVShfC2vO7wK90ROK3mJ61i3aafRMw1fr3XekGaPOU+KMgiW4YLYw+tCkP1uK9kfztJQbjlDqzPK8Zue/HD1bFpTJuvt2CHKuYxqya7HVlZlpOZiBCt5KLEgrWmGm96P7E+TE5i1axlvV6NhxawtByxEj3ceiZsqfBWder3Qfhs+XsSN9Kxe0+KJHcBVcG5dXaTH3JahtUoUTskofYHgx0rsy7R7GtW5mDHloXxKjfSVp6XHZSaijkSddWyVrCxEw4DE= jcastro@stella

growpart:
  mode: auto
  devices: ['/']
disable_root: false


runcmd:
  # Remove cloud-init

  - systemctl start qemu-guest-agent.service 

runcmd:
  - [ sh, -c, 'echo setup...; $(date) | sudo tee -a /root/runcmd.log' ]
# written to /var/log/cloud-init-output.log
final_message: "The system is now up, after $UPTIME seconds"
