#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
#
#package_upgrade: true
ssh_pwauth: True
chpasswd:
  list: |
     root:linux
  expire: False
#cloud-config
#package_upgrade: true
#power_state:
# delay: "+1" 



manage_etc_hosts: true    
users:
  - name: devops
    passwd: password
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDRKfyq71Efvr/D2jqHPMa/MR8tsK4269T3xy8UjmLPd99RAmerJ+H9vrc1DSaKFJxLe91XaBop6gXnsUue2pWCB2bR3+7K0/mEO1g95p/2M35wylLaNP7aIIyVS4/NLS7wDWvi2Ui3Hz8q4+DVHvNK0uyqO1aJocdKe75B/cmEEU5eXOZbC1Be1UYTWvBNoeFEtb14JR5zKLg+JbjwRTuezsJntwUfUCG+k79DLFWThRU2SPJd6385lr2N4hewcVyp+MjhFQZaXccOqzZFomfqJR4U74yJIoxLOEWINThBBMAeUzxqoCeaeTr+ZtWbD8qUax8eOuSk0P8EjElGBwzAhYXwvib+Ex/nA1Je1aSzH7/TI0sAZkEzTeBHPToXs2BqzWBCIwCBegctHXAdBjRyeBpR85X8701jXKhfPiI9Mmox1UdEu3tReNfuquIDsC2TojcKoTMfsS2AbBTphr2NMC5N/5DvH1N/PUQZkSMXk7+wVk63F9IeXnMiX5kC2WM= jcastro@taycan
growpart:
  mode: auto
  devices: ['/']



